name: Deploy to GitHub Pages

permissions:
  contents: write
  pages: write

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
          - uses: actions/checkout@v3
            with:
              lfs: true
          - uses: fastai/workflows/quarto-ghp@master
